*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;

}
.logo{
    width: 130px;
    cursor: pointer;
    margin: 15px 0;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;

}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
nav ul li a:hover{
    color: #ea82b0;
}
.col-2{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;   
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.col-2 h2{
    font-size: 40px;
}
.col-2 h3{
    font-size: 25px;
    font-weight: 100;
    margin-bottom:20px;
}.col-2 p{
    font-size: 16px;
    font-weight: 100;
    color: rgb(114, 109, 109);
}
