*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    

}
.content{
    z-index: 1;
    
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 6%;
    padding-right: 6%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
    background-color: #fff;
    font-weight: bolder;
    
    
    
    

}
.explorenow-a{
    text-decoration:none;
    transition: 0.5s;
}
.logo{
    width: 130px;
    cursor: pointer;
    margin: 15px 0;
    
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
    
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;

}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
nav ul li a:hover{
    color: #ea82b0;
}
.col-2{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;   
    align-items: center;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.col-2{
    margin-left: 10%;
}
.col-2 h2{
    font-size: 40px;
}
.col-2 h3{
    font-size: 25px;
    font-weight: 100;
    margin-bottom:20px;
}.col-2 p{
    font-size: 16px;
    font-weight: 100;
    color: rgb(114, 109, 109);
    margin: 30px 0;
}
.btn-h{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    color: #fff;
    background: linear-gradient(to right,#59e6ff,#e982af);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
    
}
.btn-h img {
    width: 30px;
    display: none;
}
.btn-h:hover img{
    display: block;
}
.btn-h:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col-2 ::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(to bottom,#59e6ff,#e982af);
    position: absolute;
    left: -40px;
    top: 8px;
}
.col-1{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.content-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}
.hokage-div{

    background: linear-gradient(to bottom,#fff,#d0d0d0);
    padding-bottom: 5rem;
    padding-top: 5rem;
    
}


.hokage-h{
    text-align: center;
    font-size: 40px;
    margin-bottom: 8rem;
}


.hokage-hat{
    width: 50px;
    
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: 500px;
  margin: auto;
  text-align: center;
  background-color: #fff;
  margin: 20px;
  
  
  
}

.title {
  color: grey;
  font-size: 18px;
}
.card img{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.c-txt{
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}






@media only screen and (max-width:700px){
    .navbar{
        font-weight: normal;
    }

    nav ul{
        width: 100%;
        background:#59e6ff;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 5;

    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
    }

    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column;
        margin: 50px 0;
    }
    .col-2{
        flex-basis: 100%;
        margin-top: 50px;
    }
    .col-1{
        flex-basis: 100%;
    }
    .col-2 h2{
        font-size: 30px;
    }
    .col-2 h3{
        font-size: 20px;
    }
    .col-1 img {
        width: 100%;
    }
    .btn-h{
        width: 124px;
        
    }
    .logo{
        width: 100px;
    }
    .content-row{
        flex-direction: column;
        margin: 50px 0;
    }
}